apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- solucao-api.dep.yaml
- solucao-api.svc.yaml

namespace: demo-danweb

images:
- name: williambr2022/demo-agenda-back
  newName: williambr2022/demo-agenda-back
  newTag: 9fbba87175755eaa109d7edb9a11f3dc6c8b24a8
